.container {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 640px;
  height: 360px;
  background-color: darkslateblue;
  display: flex;
  flex-direction: row;
}

.description {
  flex: 1 1 auto;
}

.media {
  flex: 1 1 auto;
}
