.container {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 640px;
  height: 360px;
  background-color: darkslateblue;
  display: flex;
  place-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.description {
  flex: 1 1 auto;
  width: 50%;
  text-align: center;
}

.media {
  flex: 1 1 auto;
  width: 50%;
  text-align: center;
}
